@font-face {
    font-family: pobeda;
    font-display: swap;
    src: url("../fonts/pobeda-regular1.woff2") format("woff2"), url("../fonts/pobeda-regular1");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: teddy;
    font-display: swap;
    src: url("../fonts/teddy-bear.woff2") format("woff2"), url("../fonts/teddy-bear");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: you20133;
    font-display: swap;
    src: url("../fonts/you20133.woff2") format("woff2"), url("../fonts/you20133");
    font-weight: 400;
    font-style: normal;
}